body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

p {
	margin: 13px 0 0;
  text-align: center;
}

small {
	font-size: 0.7em;
}

.clear {
  clear: both;
}

#back {
  margin-top: 10px;
  float: left;
}

#back a, #back a:visited {
  font-size:12px;
  color: rgb(59, 89, 152); /* Facebook blue */
  text-decoration: none;
}

#back a:hover {
  text-decoration: underline;
}

#background {
	width: 740px;
	height: 420px;
	margin: 0 auto;
	position: relative;
}

#background .left {
	float: left;
	width: 355px;
	height: 100%;
  background: transparent url(../images/homeprint-bg.jpg) no-repeat -32px -20px;
}

#background .right {
	float: right;
	width: 385px;
	height: 100%;
  background: transparent url(../images/bg.png) repeat-x left -20px;
}

#content {
	height: 0;
	margin: 0 auto;
	position: relative;
	top: -375px;
}

#logo {
	margin: 0 auto;
	width: 416px;
	height: 88px;
	background: #fff url(../images/logo.png) no-repeat scroll center center;
}

#logo a {
  width: 100%;
  height: 100%;
  display: block;
	margin: auto auto;
}

#logo a:hover {
  border-top: 6px solid #f2fafd;
  border-right: 6px solid #f2fafd;
  border-left: 6px solid #f2fafd;
}

#map {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 350px;
	height: 300px;
	z-index: 10;
}

.blurb {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
	width: 365px;
	position: relative;
	left: 170px;
	top: -25px;
}

.fb.fanbox {
	height: 60px;
	width: 220px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -15px;
	left: 170px;
}

.anchor {
  font-size: 24px;
}

.anchor a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 130, 131);
  padding: 2px 0 0;
}

.anchor a:hover {
  color: #fff;
  background-color: rgb(0, 130, 131);
}
